/* homepage:
-----------------------*/
#homeCarousel {
  .item {
    padding: 130px 200px 0;
    height: 350px;
    &:first-child {
      background-color: #EA4B27;
    }
    &:nth-child(2) {
      background-color: #586970;
    }
    h3 {
      margin: 0;
      font-size: 26px;
      line-height: 1.4;
      color: #fff;
      text-align: center;
    }
  }
}
